*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.container{
    margin: auto;
    width: 65%;
    background-color: aliceblue;
    height: 100vh;

}
.top{
    color: rgb(88, 88, 168);
    display: flex;
    background-color: #2aa3cc;
    height: 50px;
}
.top a{
    width: 20%;
    margin: auto 0 auto 10px; 
}
.top .imgs{
    display: flex;
    width: 20%;
    margin: auto 0;
}
.top .imgs a{
    display: flex;
    height:50px;
    width: 50px;
}
.top .imgs a:hover{
    background-color: #2282a3;
}
.top .imgs a img{
    height: 30px;
    width: auto;
    margin: auto;
}


h1{
    margin: 30px;
    border: 30px;
}
h1:hover{
    color: red;
}
.texto{
    color: black;
}
.fondoxd{
    z-index: -10;
    position: absolute;
    display: flex;
    height: 100vh;
    width: auto;

}